/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

@font-face {
    font-family: Azonix;
    src: url("../src/assets/font/Azonix.otf");
  }

html, body {
    color: $white;
    margin: 0;
    width: $fullWidth;
    height: 100%;
    overflow: auto;
    font-family: 'Azonix';
    background-image: url('../src/assets/images/car.png');
    background-size: cover;
    background-position: center;
    *:focus {
        outline: none;
    }

    .content-wrapper {
        margin: 0;
        padding: 0;
        width: $fullWidth;
        height: -webkit-fill-available;
        overflow: hidden;
        z-index: -1;
    }
}