/*
    1. Colors
    2. Text transform
    3. Dimensions
    4. Display Layout Position
    5. Visibility
*/

// 1. Colors
$white: #FFFFFF;
$black: #000000;
$brightSun: #FFCB49;
    // gradient colors
$blizzardBlue: #A3E2ED;
$azureRadiance: #037FFC;

// 2. Text Transform
$uppercase: uppercase;
$bold: 700;
$pointer: pointer;

// 3. Dimensions
$fullWidth: 100%;

// 4. Display Layout Position
$flex: flex;
$spaceBetween: space-between;
$relative: relative;
$absolute: absolute;

// 5. Visibility
$hiddenElement: hidden;