@import '../../../variables.scss';

.main-heading-container {
    color: $white;
    padding-top: 10%;

    h1 {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 5%;
        text-transform: $uppercase;
        font-weight: $bold;
        font-size: 33px;
        text-shadow: 0 0 1px $blizzardBlue,
                     0 0 5px $azureRadiance,
                     0 0 10px $azureRadiance,
                     0 0 30px $azureRadiance,
                     0 0 0px $blizzardBlue,
                     0 0 0px $azureRadiance,
                     0 0 1px $azureRadiance,
                     0 0 0px $azureRadiance;
    }

    p {
        padding-left: 10%;
        // blinking animation
        animation: blink-animation 0.8s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }
}

@keyframes blink-animation {
    to {
        visibility: $hiddenElement;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: $hiddenElement;
    }
}