@import '../../../variables.scss';

.navigation-container {
    color: $white;

    .menu-container {
        display: $flex;
        justify-content: flex-start;
        text-transform: $uppercase;
        font-weight: $bold;
        color: $brightSun;
        font-size: 15px;
        padding: 20px 0;
    }

    .active {
        -webkit-text-fill-color: transparent;
        text-shadow: 0 0 1px $blizzardBlue,
                     0 0 5px $azureRadiance,
                     0 0 10px $azureRadiance,
                     0 0 30px $azureRadiance,
                     0 0 0px $blizzardBlue,
                     0 0 0px $azureRadiance,
                     0 0 1px $azureRadiance,
                     0 0 0px $azureRadiance;
        outline: none;
        &:active {
            outline: 0;
        }
    }

    .hamburger-menu {
        display: none;
    }

    .languages-container {
        display: $flex;
        justify-content: flex-end;
        position: $absolute;
        top: 0;
        right: 30px;
        color: $brightSun;
        cursor: $pointer;

        > div {
            padding: 20px;
        }
    }

    @media only screen and (max-width: 600px) {
        .languages-container {
            display: block;

            .menu-container {
                display: none;
            }

            .hamburger-menu {
                display: block;
            }

            > div {
                padding: 0;
            }
        }

        .menu-container {
            display: none;
        }

        .hamburger-menu {
            display: block;
            padding: 10px;

            .hamburger-menu-items {
                position: relative;
            }

            .hamburger-menu-items.closed {
                left: -200px;
                transition: left;
                transition-duration: 0.5s;
            }

            .hamburger-menu-items.open {
                left: 0;
                transition: left;
                transition-duration: 0.5s;
            }
        }

        .hamburger-icon {
            background: url('../../../assets/icons/hamburger-menu.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            margin-left: 20px;
            cursor: $pointer;
        }
    }
}
