@import '../../../variables.scss';

.cookie-disclaimer {
    position: $absolute;
    bottom: 40px;
    right: 35px;
    color: $black;
    background: $white;
    padding: 20px 10px;
    border-radius: 10px;
    opacity: 0.8;
    text-align: center;

    &:hover {
        opacity: 1;
    }

    .ip-address-container {
        display: $flex;
        justify-content: $spaceBetween;
        position: relative;

        > .close-cookie-popup {
            background: url('../../../assets/icons/close.svg');
            cursor: $pointer;
            background-size: contain;
            width: 17px;
            height: 20px;
            background-repeat: no-repeat;
            position: absolute;
            right: 3px;
            top: -10px;
        }
    }

    @media only screen and (max-width: 600px) {
        right: 0;
        text-align: left;
    }
}